<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizzeria</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/menu.css" rel="stylesheet" />
    <script src="~/js/menu.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>
<body>

    <nav>
        <div class="nav">
            <ul style="width: 100%; z-index: 2;">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="tutorials" style="z-index: 1000">
                    <a href="#">Admin</a>
                    <ul>
                        <li><a asp-controller="Categories" asp-action="Index">Kategorie</a></li>
                        <li><a asp-controller="Products" asp-action="Index">Produkty</a></li>
                        <li><a asp-controller="Coupons" asp-action="Index">Zniżki</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav><!-- #multi-level-nav .multi-level-nav -->

    <div class="container body-content">
        <br />
        @RenderBody()
        <br />
        <hr />
    </div>
    <footer class="footer">
        <div class="cont">
            <p class="text-muted">&copy; 2018 - Pizzeria</p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
