@using Microsoft.AspNetCore.Identity
@using Pizzeria.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" style="padding-right:20px; width: 200px;">
        <a  asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="nav-link">Twoje konto</a>
    </li>
    <li class="nav-item">
        
        <a asp-controller="Account" asp-action="Logout" class="nav-link">Log out</a>
    </li>
}
else
{
    <li  class="nav-item"><a asp-area="" asp-controller="Account" class="nav-link" asp-action="Register">Register</a></li>
    <li  class="nav-item"> <a asp-area="" asp-controller="Account" class="nav-link" asp-action="Login">Log in</a></li>
}
